.link {
  color: #ffffff;
  text-decoration: transparent;
}
.App > .MuiPaper-root {
  position: fixed !important;
}
.MuiFormControlLabel-root {
  margin-left: auto !important;
}

.header-nav > *:nth-last-child(2) {
  margin-left: auto;
}
