* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.nav__link {
  color: #ffffff;
}
main {
  padding: 100px 0;
}
.loader {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.1s linear;
}
.MuiPagination-ul {
  justify-content: center;
}
