.singleActors {
  margin: 0 auto;
}
.singleActors__container {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: flex-start;
  margin-bottom: 50px;
}
.singleActors__poster {
  width: 300px;
  height: auto;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.37);
  border-radius: 200px 7px 200px 7px;
  -moz-border-radius: 200px 7px 200px 7px;
  -webkit-border-radius: 200px 7px 200px 7px;
}
.singleActors__info {
  padding-left: 20px;
  list-style: none;
}
.singleActors__item {
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 5px 0;
}
.singleActors__item:first-child {
  margin-top: 0;
}
.singleActors__item > span,
.singleActors__item a {
  font-weight: 700;
  text-transform: uppercase;
}
.singleActors__item > p {
  display: inline-block;
}
.singleActors__item > p:not(:last-child)::after {
  content: ",";
}
.singleActors__item:not(:last-child) > * {
  width: 50%;
}
.singleActors__item-list {
  display: flex;
}

.singleActors__item p:not(:last-child) {
  display: inline-block;
  margin-right: 5px;
}
.singleActors__item--center {
  text-align: center;
}

.actor__films {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
.actor__media {
  display: grid;
  grid-template-columns: 300px 1fr;
  /* align-items: center; */
}
.actor__media-img {
  justify-self: end;
}
.singleActors__info-seeMore {
  text-align: center;
}
